.home-page{
    width: 80vw;
    margin: auto;
    background: #f4f4f4;
}
.grid{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 20px 30px;
}

// Card
// TODO: 不支持嵌套
.columns{
    // background-color: aquamarine;
}
.header{
    display: inline-grid;
    grid-template-columns: 6fr 6fr;
}
.logo{
    width: 140px;
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 3s ease;
}
.logo-animate{
    opacity: 1;
}
